* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(35deg, rgb(72, 192, 16) 10%, rgb(7, 7, 7) 60%);
  font-size: 100%;
}