@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/* 
  font-family: 'Righteous', cursive;
  font-family: 'Sarala', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.cabecalho {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho__imagem {
  height: 100px;
  border-radius: 50px;
  margin: 0 0 0 7%;
  transition: 1s;
}

.cabecalho__menu {
  display: flex;
}

.cabecalho__menu-item {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFF2E7;
  margin: 0 32px 0 0;
  transition: 1s;
}

.cabecalho__menu-item:hover {
  color: green;
}

@media screen and (max-width: 398px) {
  .cabecalho {
    height: 15vh;
  }

  .cabecalho__menu {
    margin: 0 5% 0 0;
  }

  .cabecalho__imagem {
    height: 55px;
    border-radius: 30px;
  }

  .cabecalho__menu-item {
    font-size: 16px;    
    margin: 0 17px 0 0;
  }
  
}
